html {
	background-color: #B9F3ED;
}

.container {
	box-sizing: border-box; 
	width: 1000px; 
	margin: 80px auto; 
	padding: 0 15px;
}

a {
	float: right;
	color: white;
	padding: 5px;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	text-decoration: none;
}

#menuBtn {
	background-color: #E34262;
	margin-left: 10px;
}

#contactBtn {
	background-color: #6696F8;
}

img {
	height: 250px;
	width: 300px;
	margin: 20px 0;
}